.container {
    margin: 0 auto;
    width: 960px;
    height: 600px;
    background: url("../images/mortal-combat.jpg") no-repeat; 
    display: flex;
    flex-direction: column;
}
.div_speaker {
    display: flex;
    flex-direction: row-reverse;
}
.speaker {
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    opacity: 0.2;
    border: none;
    background: url("../images/white_speaker.png") no-repeat;
    background-size: contain;
    background-color: rgb(34, 17, 17);
}
.speaker:hover {
    cursor: pointer;
    opacity: 0.8;
}
.arena_1{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.arena_0 {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.characters:hover {
    cursor: pointer;
}
.hero {
    position: absolute;
    top: 220px;
    left: 270px;
}
.opponent {
    position: absolute;
    top: 220px;
    left: 580px;
}
.opponent-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.white {
    color: white;
}
.image {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    color: white;
}
.big {
    font-size: 70px;
    color: white;
    line-height: 7rem;
    text-align: center;
}
.hidden {
    display: none;
}